<section class="about-me-sec">
  <ul class="list-about-me">
    <li id="item-about-me-collapse" class="ac">
      <h3 id="header-abou-me" class="ac-header">
        <button id="btn-about-me-collapse" type="button" class="ac-trigger">
          About me
        </button>
      </h3>
      <div id="list-item-about-me" class="ac-panel">
        <p id="text-about-me" class="ac-text">
          I am Lloyd Jefferson, a talented programmer with extensive expertise
          in software development. I have an understanding of different
          programming languages ​​and technologies, always ready to improve my
          skills. I always follow the latest trends and look for unconventional,
          creative solutions to problems. I have a high level of analytical
          skills and am able to effectively solve even the most difficult tasks
          encountered on the way.
        </p>
        <p id="text-about-me" class="ac-text">
          I am Lloyd Jefferson, a talented programmer with extensive expertise
          in software development. I have an understanding of different
          programming languages ​​and technologies, always ready to improve my
          skills. I always follow the latest trends and look for unconventional,
          creative solutions to problems. I have a high level of analytical
          skills and am able to effectively solve even the most difficult tasks
          encountered on the way.
        </p>
      </div>
    </li>
    <li id="item-about-me-collapse" class="ac">
      <h3 id="header-abou-me" class="ac-header">
        <button id="btn-about-me-collapse" type="button" class="ac-trigger">
          Role
        </button>
      </h3>
      <ul id="list-item-about-me" class="ac-panel">
        <li>
          <p id="text-about-me" class="ac-text">Frontend development</p>
        </li>
        <li>
          <p id="text-about-me" class="ac-text">HeadlessCMS,Wordpress</p>
        </li>
        <li>
          <p id="text-about-me" class="ac-text">Blender(enjoy)</p>
        </li>
      </ul>
    </li>
    <li id="item-about-me-collapse" class="ac">
      <h3 id="header-abou-me" class="ac-header">
        <button id="btn-about-me-collapse" type="button" class="ac-trigger">
          Education
        </button>
      </h3>
      <ul id="list-item-about-me" class="ac-panel">
        <li>
          <p id="text-about-me" class="ac-text">
            2018 - 2019 / Frontend Development Diploma, GoIT IT School, New York
          </p>
        </li>
        <li>
          <p id="text-about-me" class="ac-text">
            2019 - 2020 / Advanced Web Development Certificate, GoIT IT School,
            New York
          </p>
        </li>
        <li>
          <p id="text-about-me" class="ac-text">
            2020 - 2022 / Advanced Blender Animation Techniques, Udemy
          </p>
        </li>
      </ul>
    </li>
  </ul>

  <ul>
    <li class="carousel"></li>
    <li class="carousel"></li>
    <li class="carousel"></li>
    <li class="carousel"></li>
    <li class="carousel"></li>
    <li class="carousel"></li>
  </ul>
</section>
