<section class="about-me-sec" id="ist-item-about-me">
  <div class="container">
    <h2 class="hidden">About me</h2>
    <ul class="about-me-hero">
      <li class="about-me-hero-item">
        <p class="a-m-hero-text">
          I work with people all over the world to create impressive and
          <span class="paint-func">functional</span>
          <span class="paint-web">websites</span> that reflect each client's
          unique personality.
        </p>
      </li>
      <li class="about-me-hero-item">
        <picture>
          <source
            srcset="
              ./img/about-me/about-me-mob.jpeg    1x,
              ./img/about-me/about-me-mob@2x.jpeg 2x,
              ./img/about-me/about-me-mob@3x.jpeg 3x
            "
            media="(max-width:767px)"
          />
          <source
            srcset="
              ./img/about-me/about-me-desc.jpeg    1x,
              ./img/about-me/about-me-desc@2x.jpeg 2x,
              ./img/about-me/about-me-desc@3x.jpeg 3x
            "
            media="(min-width:1440px)"
          />
          <source
            srcset="
              ./img/about-me/about-me-tab.jpeg    1x,
              ./img/about-me/about-me-tab@2x.jpeg 2x,
              ./img/about-me/about-me-tab@3x.jpeg 3x
            "
            media="(min-width:768px)"
          />

          <img
            class="img-about-me"
            src="./img/about-me/about-me-mob.jpeg"
            alt=""
          />
        </picture>
      </li>
    </ul>

    <ul class="list-about-me">
      <li class="ac item-about-me-collapse">
        <h3 class="ac-header header-abou-me">
          <button type="button" class="ac-trigger btn-about-me-collapse">
            About me
            <svg class="about-me-icon" width="34" height="34">
              <use href="./img/sprite.svg.svg#icon-Arrow-down"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel list-item-about-me">
          <p class="ac-text text-about-me">
            I am Lloyd Jefferson, a talented programmer with extensive expertise
            in software development. I have an understanding of different
            programming languages ​​and technologies, always ready to improve my
            skills. I always follow the latest trends and look for
            unconventional, creative solutions to problems. I have a high level
            of analytical skills and am able to effectively solve even the most
            difficult tasks encountered on the way.
          </p>
          <p class="ac-text text-about-me">
            Able to work both independently and in a team. I can effectively
            cooperate with colleagues, exchanging ideas and finding optimal
            solutions. Professional maturity allows you to calmly cope with
            challenges and stressful situations, while maintaining a high
            quality of work. I am always looking for opportunities for
            self-improvement. I actively study new technologies and practices to
            stay abreast of the latest innovations. I have a strong
            understanding of various programming languages, frameworks and
            architectural concepts that allow me to create efficient and
            scalable software.
          </p>
        </div>
      </li>
      <li class="ac item-about-me-collapse">
        <h3 class="ac-header header-abou-me">
          <button type="button" class="ac-trigger btn-about-me-collapse">
            Role
            <svg class="about-me-icon" width="34" height="34">
              <use href="./img/sprite.svg.svg#icon-Arrow-down"></use>
            </svg>
          </button>
        </h3>
        <ul class="ac-panel list-item-about-me">
          <li>
            <p class="ac-text text-about-me">Frontend development</p>
          </li>
          <li>
            <p class="ac-text text-about-me">HeadlessCMS,Wordpress</p>
          </li>
          <li>
            <p class="ac-text text-about-me">Blender(enjoy)</p>
          </li>
        </ul>
      </li>
      <li class="ac item-about-me-collapse">
        <h3 class="ac-header header-abou-me">
          <button type="button" class="ac-trigger btn-about-me-collapse">
            Education
            <svg class="about-me-icon" width="34" height="34">
              <use href="./img/sprite.svg.svg#icon-Arrow-down"></use>
            </svg>
          </button>
        </h3>
        <ul class="ac-panel list-item-about-me">
          <li>
            <p class="ac-text education-a-m text-about-me">
              2018 - 2019 / Frontend Development Diploma, GoIT IT School, New
              York
            </p>
          </li>
          <li>
            <p class="ac-text education-a-m text-about-me">
              2019 - 2020 / Advanced Web Development Certificate, GoIT IT
              School, New York
            </p>
          </li>
          <li>
            <p class="ac-text education-a-m text-about-me">
              2020 - 2022 / Advanced Blender Animation Techniques, Udemy
            </p>
          </li>
        </ul>
      </li>
    </ul>
    <div class="container-swiper-a-m">
      <div id="carousel-about-me-list" class="swiper">
        <ul class="swiper-wrapper">
          <li class="swiper-slide slide-a-m">
            <p class="carousel-about-me-item">HTML/CSS</p>
          </li>
          <li class="swiper-slide slide-a-m">
            <p class="carousel-about-me-item">JavaScript</p>
          </li>
          <li class="swiper-slide slide-a-m">
            <p class="carousel-about-me-item">React</p>
          </li>
          <li class="swiper-slide slide-a-m">
            <p class="carousel-about-me-item">Node.js</p>
          </li>
          <li class="swiper-slide slide-a-m">
            <p class="carousel-about-me-item">React Native</p>
          </li>
          <li class="swiper-slide slide-a-m">
            <p class="carousel-about-me-item">Soft Skills</p>
          </li>
          <li class="swiper-slide slide-a-m">
            <p class="carousel-about-me-item">Hard Skills</p>
          </li>
        </ul>
      </div>
      <div class="btn-next-a-m">
        <svg class="right-arrow-icon-about-me" aria-label="icon to swipe right">
          <use href="./img/sprite.svg.svg#icon-about-me"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
