<section class="about-me-sec">
  <ul class="about-me-hero">
    <li class="about-me-hero-item">
      <p class="a-m-hero-text">
        I work with people all over the world to create impressive and
        <span class="paint-func">functional</span>
        <span class="paint-web">websites</span> that reflect each client's
        unique personality.
      </p>
    </li>
    <li class="about-me-hero-item">
      <picture>
        <source
          srcset="
            ../img/about-me/about-me-mob.jpeg    1x,
            ../img/about-me/about-me-mob@2x.jpeg 2x,
            ../img/about-me/about-me-mob@3x.jpeg 3x
          "
          media="(max-width:767px)"
        />
        <source
          srcset="
            ../img/about-me/about-me-desc.jpeg    1x,
            ../img/about-me/about-me-desc@2x.jpeg 2x,
            ../img/about-me/about-me-desc@3x.jpeg 3x
          "
          media="(min-width:1440px)"
        />
        <source
          srcset="
            ../img/about-me/about-me-tab.jpeg    1x,
            ../img/about-me/about-me-tab@2x.jpeg 2x,
            ../img/about-me/about-me-tab@3x.jpeg 3x
          "
          media="(min-width:768px)"
        />

        <img
          class="img-about-me"
          src="../img/about-me/about-me-mob.jpeg"
          alt=""
        />
      </picture>
    </li>
  </ul>
  <ul class="list-about-me">
    <li id="item-about-me-collapse" class="ac">
      <h3 id="header-abou-me" class="ac-header">
        <button id="btn-about-me-collapse" type="button" class="ac-trigger">
          <p>About me</p>
          <svg class="about-me-icon" width="34" height="34">
            <use href="../img/sprite.svg.svg#icon-Arrow-down"></use>
          </svg>
        </button>
      </h3>
      <div id="list-item-about-me" class="ac-panel">
        <p id="text-about-me" class="ac-text">
          I am Lloyd Jefferson, a talented programmer with extensive expertise
          in software development. I have an understanding of different
          programming languages ​​and technologies, always ready to improve my
          skills. I always follow the latest trends and look for unconventional,
          creative solutions to problems. I have a high level of analytical
          skills and am able to effectively solve even the most difficult tasks
          encountered on the way.
        </p>
        <p id="text-about-me" class="ac-text">
          I am Lloyd Jefferson, a talented programmer with extensive expertise
          in software development. I have an understanding of different
          programming languages ​​and technologies, always ready to improve my
          skills. I always follow the latest trends and look for unconventional,
          creative solutions to problems. I have a high level of analytical
          skills and am able to effectively solve even the most difficult tasks
          encountered on the way.
        </p>
      </div>
    </li>
    <li id="item-about-me-collapse" class="ac">
      <h3 id="header-abou-me" class="ac-header">
        <button id="btn-about-me-collapse" type="button" class="ac-trigger">
          <p>Role</p>
          <svg class="about-me-icon" width="34" height="34">
            <use href="../img/sprite.svg.svg#icon-Arrow-down"></use>
          </svg>
        </button>
      </h3>
      <ul id="list-item-about-me" class="ac-panel">
        <li>
          <p id="text-about-me" class="ac-text">Frontend development</p>
        </li>
        <li>
          <p id="text-about-me" class="ac-text">HeadlessCMS,Wordpress</p>
        </li>
        <li>
          <p id="text-about-me" class="ac-text">Blender(enjoy)</p>
        </li>
      </ul>
    </li>
    <li id="item-about-me-collapse" class="ac">
      <h3 id="header-abou-me" class="ac-header">
        <button id="btn-about-me-collapse" type="button" class="ac-trigger">
          <p>Education</p>
          <svg class="about-me-icon" width="34" height="34">
            <use href="../img/sprite.svg.svg#icon-Arrow-down"></use>
          </svg>
        </button>
      </h3>
      <ul id="list-item-about-me" class="ac-panel">
        <li>
          <p id="text-about-me" class="ac-text">
            2018 - 2019 / Frontend Development Diploma, GoIT IT School, New York
          </p>
        </li>
        <li>
          <p id="text-about-me" class="ac-text">
            2019 - 2020 / Advanced Web Development Certificate, GoIT IT School,
            New York
          </p>
        </li>
        <li>
          <p id="text-about-me" class="ac-text">
            2020 - 2022 / Advanced Blender Animation Techniques, Udemy
          </p>
        </li>
      </ul>
    </li>
  </ul>

  <div id="carousel-about-me-list" class="swiper">
    <ul class="swiper-wrapper">
      <li class="carousel-about-me-item swiper-slide"><p>HTML/CSS</p></li>
      <li class="carousel-about-me-item swiper-slide"><p>JavaScript</p></li>
      <li class="carousel-about-me-item swiper-slide"><p>React</p></li>
      <li class="carousel-about-me-item swiper-slide"><p>Node.js</p></li>
      <li class="carousel-about-me-item swiper-slide"><p>React Native</p></li>
      <li class="carousel-about-me-item swiper-slide"><p>Soft Skills</p></li>
    </ul>
    <div class="swiper-button-next"></div>
  </div>
</section>
