<section class="benefits container" id="benefits">
  <div class="benefits-container">
    <div class="name-title">
      <h2 class="main-title">Benefits of working with me</h2>
    </div>
    <div class="benefits-property">
      <div class="our-benefits-list">
        <ul class="our-benefits">
          <li class="benefits-item">
            <div class="benefits-icon">
              <svg
                class="benefits-list-icon"
                width="24"
                height="24"
                aria-label="user"
              >
                <use href="./img/sprite.svg.svg#icon-user"></use>
              </svg>
            </div>
            <h3 class="benefits-title">Expertise</h3>
            <p class="benefits-description">
              As a highly experienced developer, I have deep knowledge of
              programming and website development.
            </p>
          </li>

          <li class="benefits-item">
            <div class="benefits-icon">
              <svg
                class="benefits-list-icon"
                width="24"
                height="24"
                aria-label="message-chat-circle"
              >
                <use href="./img/sprite.svg.svg#icon-message-chat-circle"></use>
              </svg>
            </div>
            <h3 class="benefits-title">Communication</h3>
            <p class="benefits-description">
              Understanding your needs and wants is my priority and I am always
              open to discussions and corrections.
            </p>
          </li>

          <li class="benefits-item">
            <div class="benefits-icon">
              <svg
                class="benefits-list-icon"
                width="24"
                height="24"
                aria-label="brush"
              >
                <use href="./img/sprite.svg.svg#icon-brush"></use>
              </svg>
            </div>
            <h3 class="benefits-title">Art</h3>
            <p class="benefits-description">
              Thanks to my creative nature, I am ready to accept challenges and
              help you bring your ideas to life.
            </p>
          </li>

          <li class="benefits-item">
            <div class="benefits-icon">
              <svg
                class="benefits-list-icon"
                width="24"
                height="24"
                aria-label="hourglass"
              >
                <use href="./img/sprite.svg.svg#icon-hourglass"></use>
              </svg>
            </div>
            <h3 class="benefits-title">Urgent execution</h3>
            <p class="benefits-description">
              I understand how important time is to you. Ready to work quickly
              and efficiently, without reducing the quality of work.
            </p>
          </li>
        </ul>
      </div>
      <div class="benefits-link-btn">
        <a href="#work-together-section" class="benefits-btn"
          >Order the project</a
        >
      </div>
    </div>
  </div>
</section>
