<section>
    <div class="covers">
        <h2 class="is_hidden">Covers</h2>
        <div class="under"></div>
        <div class="content">
            <div class="marquee">
                <div class="marquee__inner">
                    <!-- <img class="marquee__line" src="../img/covers/10.jpeg" alt="10"> -->
                    <!-- <img class="marquee__line" src="../img/covers/11.jpeg" alt="11"> -->
                    <img class="marquee__line" src="../img/covers/10.jpeg" alt="10">
                </div>
                <div class="marquee__inner">
                    <img class="marquee__line" src="../img/covers/1.jpeg" alt="1">
                    <img class="marquee__line" src="../img/covers/2.jpeg" alt="2">
                    <img class="marquee__line" src="../img/covers/3.jpeg" alt="3">
                </div>
                <div class="marquee__inner">
                    <img class="marquee__line" src="../img/covers/4.jpeg" alt="4">
                    <img class="marquee__line" src="../img/covers/5.jpeg" alt="5">
                    <img class="marquee__line" src="../img/covers/6.jpeg" alt="6">
                </div>
                <div class="marquee__inner">
                    <img class="marquee__line" src="../img/covers/8.jpeg" alt="8">
                    <img class="marquee__line" src="../img/covers/7.jpeg" alt="7">
                    <img class="marquee__line" src="../img/covers/9.jpeg" alt="9">
                </div>
            </div>
        </div>
    </div>
</section>