<section class="section_covers">
    <div class="conteiner_covers background_three">
        <h2 class="is_hidden">Covers</h2>
        <div class="content">
            <div class="marquee">
                <div class="marquee__inner">
                    <img class="marquee__line" src="./img/covers/1.png" alt="1">
                    <img class="marquee__line" src="./img/covers/2.png" alt="2">
                    <img class="marquee__line" src="./img/covers/9.png" alt="9">
                    <img class="marquee__line" src="./img/covers/10.png" alt="10">
                </div>
                <div class="marquee__inner">
                    <img class="marquee__line" src="./img/covers/3.png" alt="3">
                    <img class="marquee__line" src="./img/covers/4.png" alt="4">
                    <img class="marquee__line" src="./img/covers/5.png" alt="5">
                    <img class="marquee__line" src="./img/covers/6.png" alt="6">
                </div>
                <div class="marquee__inner">
                    <img class="marquee__line" src="./img/covers/7.png" alt="7">
                    <img class="marquee__line" src="./img/covers/8.png" alt="8">
                    <img class="marquee__line" src="./img/covers/2.png" alt="2">
                    <img class="marquee__line" src="./img/covers/1.png" alt="1">
                </div>
                <div class="marquee__inner">
                    <img class="marquee__line" src="./img/covers/1.png" alt="1">
                    <img class="marquee__line" src="./img/covers/2.png" alt="2">
                    <img class="marquee__line" src="./img/covers/3.png" alt="3">
                </div>
                <div class="marquee__inner five_row">
                    <img class="marquee__line" src="./img/covers/1.png" alt="1">
                    <img class="marquee__line" src="./img/covers/2.png" alt="2">
                    <img class="marquee__line" src="./img/covers/3.png" alt="3">
                </div>
            </div>
        </div>
    </div>
</section>