<header class="header">
  <div class="header-section">
    <div class="logo">
      <img
        class="logo-man"
        src="../img/hero/logo-man.png"
        alt=""
        width="80"
        height="80"
      />
      <svg class="jeff" width="84" height="19">
        <use href="../img/sprite.svg.svg#icon-jefferson"></use>
      </svg>
    </div>
    <nav id="nav">
      <ul>
        <li><a href="#about-me">About me</a></li>
        <li><a href="#benefits">Benefits</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#FAQ">FAQ</a></li>
      </ul>
    </nav>
    <div class="fake-btn">
      <a class="fake-btn-text" href="">Order the project</a>
    </div>
  </div>
</header>
