<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="mob-menu.css" />
  </head>
  <body>
    <div class="mobile-menu js-menu-container">
      <div class="mobile-menu-div container">
        <button type="button" class="mobile-menu-close-btn js-close-menu">
          <svg
            class="mobile-menu-btn-icon"
            fill="#055545"
            width="25"
            height="25"
            aria-label="mobile menu close button"
          >
            <use href="../img/sprite.svg.svg#icon-close-btn"></use>
          </svg>
        </button>
        <nav class="mobile-menu-nav">
          <a class="mobile-menu-link" href="#list-item-about-me">About me</a>
          <a class="mobile-menu-link" href="#benefits">Benefits</a>
          <a class="mobile-menu-link" href="#projects">Projects</a>
          <a class="mobile-menu-link" href="#faq">FAQ</a>
        </nav>
        <a href="#work-together-section" class="mob-menu-btn"
          >Order the project</a
        >
      </div>
    </div>
  </body>
</html>
