<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="mob-menu.css" />
  </head>
  <body>
    <div class="mobile-menu js-menu-container">
      <div class="mobile-menu-div container">
        <div class="mobile-menu-head">
          <a class="mobile-menu-head-logo" href="">yachtjet</a>
          <button type="button" class="mobile-menu-close-btn js-close-menu">
            <svg
              class="mobile-menu-btn-icon"
              fill="#055545"
              width="16"
              height="16"
              aria-label="mobile menu close button"
            >
              <use href="./img/icons.svg#icon-close-btn"></use>
            </svg>
          </button>
        </div>
        <nav class="mobile-menu-nav">
          <a class="mobile-menu-link header-link" href="#about-us">about</a>
          <a class="mobile-menu-link header-link" href="#our-yachts">yachts</a>
          <a class="mobile-menu-link header-link" href="#reviews">reviews</a>
        </nav>
        <a href="#"></a>
      </div>
    </div>
  </body>
</html>
