<section class="projects-section" id="projects">
  <h2 class="title-wrapper">Projects</h2>
  <div class="presentation-wrapper">
    <div class="proj-description">
      <ul class="technologies">
        <li class="tech-item">#react</li>
        <li class="tech-item">#js</li>
        <li class="tech-item">#node js</li>
        <li class="tech-item">#git</li>
      </ul>
      <p class="proj-slogan">
        Programming Across Borders: Ideas, Technologies, Innovations
      </p>
      <button class="see-proj-btn" type="button">
        <a
          href="https://github.com/pilipchu/project-js-group-11"
          target="_blank"
        ></a
        >See project
      </button>
    </div>
    <ul class="visual-content">
      <li>
        <img src="" class="proj-screenshot" alt="library app screenshots" />
      </li>
      <li>
        <img
          src=""
          class="proj-screenshot"
          alt="petlove app vet checking up dog's ear"
        />
      </li>
      <li>
        <img
          src=""
          class="proj-screenshot"
          alt="vocabBuilder language learning app"
        />
      </li>
    </ul>
  </div>
  <div class="swiper-control-wrapper">
    <button class="swipe-back-btn" type="button">
      <svg></svg>
    </button>
    <button class="swipe-forward-btn" type="button">
      <svg></svg>
    </button>
  </div>
</section>
