<section class="reviews-section">
    <h2 id="reviews">REVIEWS</h2>
    <div class="swiper-cont container">
        <ul class="reviews-list"></ul>
        <nav class="swiper-nav">
            <button class="swiper-button-prev">
                <svg class="icon-arr">
                    <use href="./img/sprite.svg.svg#icon-arrow-left"></use>
                </svg>
            </button>
            <button class="swiper-button-next">
                <svg class="icon-arr">
                    <use href="./img/sprite.svg.svg#icon-arrow-right"></use>
                </svg>
            </button>
        </nav>
    </div>
</section>