<section class="reviews-section">
    <div class="reviews-div">
        <h2 id="reviews">REVIEWS</h2>
        <div class="swiper-cont">
            <ul class="reviews-list swiper-wrapper"></ul>
            <nav class="swiper-nav">
                <div class="reviews-control-wrap">
                    <button class="reviews-btn-prev reviews-disabled-swipe" type="button">
                        <svg class="icon-prev-arr reviews-disabled-swipe">
                            <use href="./img/sprite.svg.svg#icon-arrow-narrow-left-a"></use>
                        </svg>
                 </button>
                 <button class="reviews-btn-next" type="button">
                        <svg class="icon-arr">
                            <use href="./img/sprite.svg.svg#icon-arrow-narrow-right-a"></use>
                        </svg>
                    </button>
                </div>
            </nav>
        </div>
        <div class="not-fnd">
            <p>Not found</p>
        </div>
    </div>
</section>