<section class="reviews-section">
    <h2 id="reviews">REVIEWS</h2>
    <div class="swiper-cont">
        <ul class="reviews-list swiper-wrapper"></ul>
        <nav class="swiper-nav">
            <button class="reviews-btn-prev" type="button">
                <svg class="icon-arr">
                    <use href="./img/sprite.svg.svg#icon-arrow-left"></use>
                </svg>
            </button>
            <button class="reviews-btn-next" type="button">
                <svg class="icon-arr">
                    <use href="./img/sprite.svg.svg#icon-arrow-right"></use>
                </svg>
            </button>
        </nav>
    </div>
    <div class="not-fnd">
        <p>Not found</p>
    </div>
</section>