.container-a-m{
/* width: 343px; */
margin: 0 auto;
    
}
.hidden{
    position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
    
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}
.about-me-sec{
padding: 32px 0;
background-color: #1C1D20;
}

.carousel-about-me-list{
    width: 200px;
}
/* ------------ About me ------------ */
.about-me-hero{
    margin-bottom: 32px;
}

.about-me-hero-item{
    border-radius: 24px;
    background-color: #242527;
}
.about-me-hero-item:first-child{
    padding: 32px 32px 272px 32px;
    margin-bottom: 16px;
}
.about-me-hero-item{
    border-radius: 24px;
    background-color: #242527;
}


.img-about-me{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 24px;
    
}
.a-m-hero-text{
    font-family: "Inter Tight";
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    font-weight: 500;
}

.paint-func{
    color: #ED3B44;
}
.paint-web{
    color: #FAFAFA66;
    
}
/* ------------ About me ------------ */
/* -----------accordion---------- */
.list-about-me{
    margin-bottom: 32px;
    list-style-type: none;
}

.ac{
    width: 100%;
}

.ac:first-child{
    margin-top: 0px;
}

.ac-header.header-abou-me{
    background-color: #1C1D20;  
}

.ac.item-about-me-collapse:first-child{
    margin-top: 0;
}

.ac.item-about-me-collapse{
    margin-top: 32px;
    padding-bottom: 30px;
    border-bottom: #8a8a8a 1px;
    background-color: #1C1D20;
    border-style: none none solid none;
}

.ac .ac-trigger.btn-about-me-collapse{
    display: flex;
        justify-content: space-between;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    padding: 0;
    color: #8a8a8a;
    text-transform: uppercase;
}

.ac .ac-trigger.btn-about-me-collapse::after{
   display: none;
}

.about-me-icon{
    border-radius: 50%;
        border-color: rgba(250, 250, 250, 0.2);
        border: 1px solid #fafafa33;
        display: block;
        width: 34px;
        height: 34px;
    
        /* new */
        transition: transform 0.5s ease-in;
    
}

#icon-Arrow-down:active  {
    fill: none;
    stroke: #fafafa33;
}

.item-about-me-collapse.is-active svg {
    transform: rotate(180deg);
}

.ac-panel{
    background-color: #1C1D20;
}



.ac .ac-panel .ac-text.text-about-me{
    padding-left: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

/* ------------Accordion------------ */

/* ----------- Swiper -------------- */
.container-swiper-a-m{
    display: flex;
    align-items: center;
    gap: 55px;

}
.carousel-about-me-list{
    width: 100%;
    
}

.swiper-slide.slide-a-m{
width: 130px ;
background-color: transparent;
padding: 0;
margin: 0;
}

.swiper-slide.slide-a-m.swiper-slide-active .carousel-about-me-item{
    background-color: #ED3B44;
}

.swiper-slide .carousel-about-me-item{
    width: 130px;
    height: 130px;
    border: rgba(250, 250, 250, 0.20) solid 1px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}
#carousel-about-me-list.swiper.swiper-initialized.swiper-horizontal.swiper-android.swiper-backface-hidden{
width: 100%;
}




.swiper-button-next.btn-next-a-m::after{
    display: none;
}

.right-arrow-icon-about-me{
width: 28px;
height: 28px;
}



/* ----------- Swiper -------------- */

@media screen and (min-width:768px){
    /* about me */
    .about-me-hero{
        margin-bottom: 64px;
    }
    .about-me-hero-item:first-child {
            padding: 64px 64px 436px 64px;
    }
    .a-m-hero-text{
        font-size: 38px;
        line-height: 105.6%;
    }
    /* about me */
    .list-about-me{
        margin-bottom: 64px;
    }
    .about-me-sec{
        padding: 32px 0;
    }
    /* ----------- Swiper -------------- */
    .container-swiper-a-m{
        gap: 64px;
    }
    .swiper-slide .carousel-about-me-item {
    font-size: 20px;
        width: 200px;
        height: 200px;
    }
    .right-arrow-icon-about-me{
        width: 40px;
        height: 40px;
    }
    /* ----------- Swiper -------------- */
}

@media screen and (min-width:1440px) {
    /* about me */
    .about-me-hero{
        display: flex;
        gap: 16px;
        margin-bottom: 96px;
    }

.about-me-hero-item{
    flex-basis: calc((100% - 16px) / 2);
}
    .about-me-hero-item:first-child {
        margin-bottom: 0;
        padding: 64px 64px 436px 64px;
    }
    
    /* about me */

    .list-about-me {
        margin-bottom: 96px;
    }
    .about-me-sec {
            padding: 96px 0 82px 0;
        }

    .ac-panel{
        padding-left: 50%;
    }
    .ac-text{
        width: 612px;
    }

        .education-a-m{
            width: 465px;
        }

    .ac.is-active .ac-panel {
        padding-bottom: 30px;
    }
    /* swiper */

    .container-swiper-a-m {
        gap: 72px;
    }
        #carousel-about-me-list.swiper.swiper-initialized.swiper-horizontal.swiper-android.swiper-backface-hidden {
            width: calc(200px * 6);
        }
}
