.benefits {
  padding: 32px 0;
}

.main-title {
  width: 284 px;
  color: rgba(250, 250, 250, 0.4);
  font-family: 'Inter Tight';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.32px;
  text-transform: uppercase;
  padding-bottom: 32px;
}

.our-benefits {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.benefits-item {
  display: flex;
  width: 344px;
  padding: 24px;
  flex-direction: column;
  border-radius: 20px;
  background: #242527;
}

.benefits-list-icon {
  fill: #fafafa;
  border-radius: 10px;
  background: #ed3b44;
  display: flex;
  width: 48px;
  height: 48px;
  padding: 12px;

  justify-content: center;
  align-items: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.benefits-list-icon:hover .benefits-list-icon:focus {
  background: #e0373f;
}

.benefits-title {
  color: #fafafa;
  font-family: 'Inter Tight';
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.4px;
  margin-top: 64px;
  margin-bottom: 8px;
}

.benefits-description {
  color: rgba(250, 250, 250, 0.6);
  font-family: 'Inter Tight';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.32px;
}

.benefits-btn {
  background: transparent;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  width: 187px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  margin-top: 32px;
  padding: 18px 36px 18px 36px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.benefits-btn:hover,
.benefits-btn:focus {
  background-color: #ed3b44;
}

/* ============== TABLET BENEFITS STYLES ====================== */
@media screen and (min-width: 768px) {
  .benefits {
    padding: 48px auto;
  }
  .our-benefits {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
  }

  .benefits-item {
    width: calc((100% - 16px) / 2);
  }

  .benefits-btn {
    background: transparent;
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 60px;
    width: 187px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    white-space: nowrap;

    padding: 18px 36px 18px 36px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .benefits-link-btn {
    margin-top: 64px;
  }
}

/* ============== /TABLET BENEFITS STYLES ====================== */

/* ============== DESKTOP BENEFITS STYLES ====================== */
@media screen and (min-width: 1440px) {
  .benefits {
    padding: 82px 0;
  }

  .benefits-container {
    display: flex;
    justify-content: space-between;
    padding: 0 32px;
  }

  .benefits-property {
    display: flex;
    flex-wrap: wrap;
    max-width: 50%;
  }

  .our-benefits-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
}
/* ============== /DESKTOP BENEFITS STYLES ====================== */
