/* ====================MOB================== */
.hero-section {
  position: relative;
  left:auto;
  margin: 0 auto;
      background-image: url(../img/hero/Hero-mob.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: left;
      min-height: 100vh;
      max-width: 375px;
      padding: 281px 16px 32px 16px;
      
}

@media screen and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .hero-section {
    background-image: url(../img/hero/Hero-mob@2x.png)
  }
}

.container-hero{
  max-width: 375px;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  gap: 212px;
  justify-content: space-between;
  
}

.hero-title{
    color: rgb(250, 250, 250);
    font-size: 50px;
    font-weight: 500;
    line-height: 50px;
    text-transform: uppercase;
}
.all-links{
      display: flex;
      gap: 4px;
}
.circle-link {
  border-radius: 60px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  width: 37px;
  height: 37px;

}

.text-link {
  color: rgb(250, 250, 250);
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  line-height: 19px;
  width: 37px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-email {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  width: 178px;
    height: 37px;
}

.text-email {
  color: rgb(250, 250, 250);
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}
/* --------------------------------tab----------------------- */

@media screen and (min-width: 768px) {

  .hero-section {
    background-image: url(../img/hero/Hero-tab.png);
    max-width: 768px;
    /* height: 1024px; */
    padding: 300px 32px 32px 32px;
  }
        @media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
          .hero-section {
            background-image: url(../img/hero/Hero-tab@2x.png)
          }
        }

  .container-hero {
    max-width: 768px;
    gap: 187px;
  }

.hero-title{
  font-size: 90px;
  line-height: 90px;
  letter-spacing: -0.03em;
}
.all-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}
.circle-link {
  width: 55px;
  height: 55px;
  transition: border 250ms linear;
}
.circle-link:hover,
.circle-link:focus{
  border: 1px solid rgb(250, 250, 250);
}
.text-link {
  font-size: 16px;
  line-height: 19px;
  width: 55px;
  height: 55px;
}


.circle-email {
  width: 223px;
  height: 55px;
  transition: border 250ms linear;
}
.circle-email:hover,
.circle-email:focus {
  border: 1px solid rgb(250, 250, 250);
}
.text-email {
  font-size: 16px;
  line-height: 19px;
}

}

/* ------------------------desc---------------------------- */

@media screen and (min-width: 1440px) {
 
  .hero-section {
    background-image: url(../img/hero/Hero-desc.png);
    max-width: 1440px;
    /* height: 900px; */
    padding: 300px 32px 32px 178px;
  }

  @media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero-section {
      background-image: url(../img/hero/Hero-desc@2x.png);
    }
  }

     .container-hero {
       max-width: 1440px;
       gap: 153px;
  
     }
    .hero-title {
      width: 1084px;
    }
    .all-links {
      top: 80%;
    }
  }
