/* ====================MOB================== */
.hero-section {

    margin: 0 auto;
      background-image: url(/img/hero/Hero-mob.png);
      background-repeat: no-repeat;
      background-position: left;
      max-width: 375px;
      height: 812px;
}

@media screen and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .hero-section {
    background-image: url(../img/hero/Hero-mob@2x.png)
  }
}
.hero-title{
    position: absolute;
    width: 343px;
    top: 281px;
    bottom: 281px;
    color: rgb(250, 250, 250);
    font-size: 50px;
    font-weight: 500;
    line-height: 50px;
    text-transform: uppercase;

  background: linear-gradient(
    90deg,
    #1c1d20 49.69%,
    #69292d 67.71%,
    #ed3b44 99.91%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
}
.hero-title {
  color: #fafafa;
  font-family: 'Inter Tight';
  font-size: 90px;
  font-style: normal;
  font-weight: 500;
  line-height: 90px;
  letter-spacing: -2.7px;
  text-transform: uppercase;
}

.all-links{
    position: absolute;
      top: 122%;
      display: flex;
      gap: 4px;
}
.circle-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  width: 37px;
  height: 37px;
}

.text-link {
  color: rgb(250, 250, 250);
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}

.circle-email {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  width: 178px;
    height: 37px;
}

.text-email {
  color: rgb(250, 250, 250);
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}
/* --------------------------------tab----------------------- */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 33px;
  }

  .hero-section {
    margin: 0 auto;
    background-image: url(../img/hero/Hero-tab.png);
    background-repeat: no-repeat;
    max-width: 768px;
    height: 1024px;
  }
.hero-title{
  font-size: 90px;
  font-weight: 500;
  line-height: 90px;
  width: 700px;
}


.circle-email {
  width: 223px;
  height: 55px;
}

.text-email {
  font-size: 16px;
  line-height: 19px;
}

  @media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero-section {
      background-image: url(../img/hero/Hero-tab@2x.png)
    }
  }

}

/* ------------------------desc---------------------------- */
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px
  }

  .hero-section {
    margin: 0 auto;
    background-image: url(../img/hero/Hero-desc.png);
    background-repeat: no-repeat;
    background-position: left;
    max-width: 1440px;
    height: 900px;
  }

  @media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero-section {
      background-image: url(../img/hero/Hero-desc@2x.png);
    }
  }
    .hero-title {
      left: 178px;
      font-size: 90px;
      font-weight: 500;
      line-height: 90px;
      width: 1084px;
    }
  
    .all-links {
      top: 80%;
    }
  }