.hero-title {
  color: #fafafa;

  font-family: 'Inter Tight';
  width: 1084px;
  height: 270px;
  font-size: 90px;
  font-style: normal;
  font-weight: 500;
  line-height: 90px; /* 100% */
  letter-spacing: -2.7px;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  padding-left: 178px;
  padding-top: 270px;
}

.title-png {
  position: relative;
}

.circle-link {
  display: flex;
  padding: 18px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 60px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  width: 20px;
  height: 18px;
}

.text-link {
  color: #fafafa;

  font-family: 'Inter Tight';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
}

.circle-email {
  display: flex;
  padding: 18px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 60px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  width: 223px;
  height: 55px;
}

.text-email {
  color: #fafafa;

  font-family: 'Inter Tight';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
}
