/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./hero.css');
@import url('./header.css');
@import url('./covers.css');
@import url('./base.css');
@import url('./benefits.css');
@import url('./FAQ.css');
@import url('./projects.css');
@import url('./reviews.css');
@import url('./work-together.css');
@import url('./about-me.css');




:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}
